@import "lib/bootstrap/less/bootstrap.less";


.caption {
  font-size: small;
  .video-info {
    margin-bottom: 0.1em;
  }
  .glyphicon {
    padding-right: 0.5em;
  }
}



.thumbnail {
  img {
    float: left;
    margin-right: 20px;
  }
  .video-title {
    clear: both;
  }
}