@import "lib/bootstrap/less/bootstrap.less";

.search-box {
  padding-left: 1em;
  padding-right: 1em;
}

.result-box {
  padding: 1em;
}

.caption {
  font-size: small;
  font-weight:bold;
  overflow: hidden;
  height: 100px;
  .video-info {
    margin-bottom: 0.1em;
  }
  .glyphicon {
    padding-right: 0.1em;
  }
  .count-k {
    color: @brand-success
  }
  .count-m {
    color: @brand-warning
  }
  .count-0 {
    color: @brand-danger
  }
}

.thumbnail {
  padding:0.1em;
  .start-time {
    font-size: small;
    font-weight:bold;
    text-align: right;
    margin: 0.1em;
  }
  img {
    float: left;
    margin-right: 0.5em;
  }
  .video-title {
    clear: both;
    height: 3em;
    overflow: hidden;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 1em;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #CCC;
  border-right: 1px solid #EEE;
}