@(params: Map[String, String], totalCount: Int, result: List[Video], host: String, thumbnailName: String)
@import org.joda.time.format._
@import org.joda.time.DateTime
@dateFormat(dateString: Option[String]) = @{
    DateTimeFormat.forPattern("yyyy/MM/dd HH:mm").print(DateTimeFormat.forPattern("yyyy-MM-dd'T'HH:mm:ssZ").parseDateTime(dateString.getOrElse("0000-00-00T00:00:00+0900")))
}
@lengthFormat(second: Int) = @{
    {f"${second/60}:${second%60}%02d"}
}
@countFormat(count: Int) = @{
    count match {
        case c if c < 1000 => <span class="counter">{s"${c}"}</span>
        case c if c < 1000000 => <span class="counter count-k">{f"${c/1000}%3d k"}</span>
        case c if c < 1000000000 => <span class="counter count-m">{f"${c/1000000}%3d m"}</span>
        case _ => <span class="counter count-0">{"many"}</span>

    }
}
@getDateFilterValue(beforeDay: Int, baseDate: Option[String]) = @{
    baseDate.fold(new DateTime().minusDays(beforeDay).toString("yyyy-MM-dd'T'HH")) {
        date => DateTimeFormat.forPattern("yyyy-MM-dd'T'HH").print(DateTimeFormat.forPattern("yyyy-MM-dd'T'HH:mm:ssZ").parseDateTime(date))
    }
}
<!DOCTYPE html>
<html lang="ja">
    <head>
        @head(params, totalCount,  host, thumbnailName)
    </head>
    <body>
        <div class="row">
            <div class="col-md-2 sidebar">
                @sidebar(params,List(
                    Map("type" -> "sort", "legend" -> "ソート",  "name" -> "s", "values" -> List(
                        List("dv","-viewCounter","再生数が多い"),
                        List("dr", "-startTime","投稿日が新しい"),
                        List("dm","-mylistCounter","マイリストが多い"))
                    ),
                    Map("type" -> "targets", "legend" -> "検索対象",  "name" -> "t[]", "values" -> List(
                        List("title","タイトル"),
                        List("description", "説明文"),
                        List("tags","タグ (部分一致)"),
                        List("tagsExact","タグ (完全一致)"))
                    ),
                    Map("type" -> "radio", "legend" -> "投稿日時",  "name" -> "r", "values" -> List(
                        List(getDateFilterValue(0, Some(params("filters[startTime][gte]"))), "checked","デフォルト"),
                        List(getDateFilterValue(1, None), "","24時間以内"),
                        List(getDateFilterValue(7, None), "","1週間以内"))
                    ),
                    Map("type" -> "range", "legend" -> "再生時間(分)",  "name" -> "p", "values" -> List(
                        List("["+params("filters[lengthSeconds][gte]").toInt/60+","+params("filters[lengthSeconds][lte]").toInt/60+"]", "0", "60", "5"))
                    ),
                    Map("type" -> "range", "legend" -> "再生数",  "name" -> "v", "values" -> List(
                        List("["+params("filters[viewCounter][gte]")+","+params("filters[viewCounter][lte]")+"]", "0", "10000", "1000"))
                    ),
                    Map("type" -> "range", "legend" -> "マイリスト数",  "name" -> "m", "values" -> List(
                        List("["+params("filters[mylistCounter][gte]")+","+params("filters[mylistCounter][lte]")+"]", "0", "1000", "100"))
                    )
                ))
            </div>
            <div class="col-md-10 col-md-offset-2 col-sm-offset-2 col-xs-offset-2 main">
                @form(routes.SearchController.video(), params, totalCount)
                <div class="result-box">
                @for(video <- result) {
                    <div class="col-md-4 col-sm-6">
                        <div class="thumbnail">
                            <p class="start-time"> @dateFormat(video.startTime) </p>
                            <div class="fix">
                                <img src="@video.thumbnailUrl.getOrElse("")" alt="thumbnail" class="img-responsive">
                                <div class="video-length"> @lengthFormat(video.lengthSeconds) </div>
                            </div>
                            <div class="caption">
                                <p class="video-info vcounter"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> @countFormat(video.viewCounter) </p>
                                <p class="video-info mcounter"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> @countFormat(video.mylistCounter) </p>
                                <p class="video-info ccounter"><span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> @countFormat(video.commentCounter) </p>
                            </div>
                            <div class="video-title">
                                <p><a href="http://www.nicovideo.jp/watch/@video.contentId" title="@video.title.getOrElse("")">@video.title.getOrElse("")</a></p>
                            </div>
                        </div>
                    </div>
                }
                </div>
            </div>
        </div>
    </body>
</html>

