@(params: Map[String, String], totalCount: Int, result: List[Live], host: String, thumbnailName: String)
@import org.joda.time.format._
@import org.joda.time.DateTime
@import org.joda.time.Duration
@dateFormat(dateString: Option[String]) = @{
    DateTimeFormat.forPattern("yyyy/MM/dd HH:mm").print(DateTimeFormat.forPattern("yyyy-MM-dd'T'HH:mm:ssZ").parseDateTime(dateString.getOrElse("0000-00-00T00:00:00+0900")))
}
@countFormat(count: Int) = @{
    count match {
        case c if c < 1000 => <span class="counter">{s"${c}"}</span>
        case c if c < 1000000 => <span class="counter count-k">{f"${c/1000}%3d k"}</span>
        case c if c < 1000000000 => <span class="counter count-m">{f"${c/1000000}%3d m"}</span>
        case _ => <span class="counter count-0">{"many"}</span>

    }
}
@getDateFilterValue(beforeDay: Int, baseDate: Option[String]) = @{
    baseDate.fold(new DateTime().minusDays(beforeDay).toString("yyyy-MM-dd'T'HH")) {
        date => DateTimeFormat.forPattern("yyyy-MM-dd'T'HH").print(DateTimeFormat.forPattern("yyyy-MM-dd'T'HH:mm:ssZ").parseDateTime(date))
    }
}
@beforeFormat(dateString: Option[String]) = @{
    val d = new Duration(new DateTime(), DateTimeFormat.forPattern("yyyy-MM-dd'T'HH:mm:ssZ").parseDateTime(dateString.getOrElse("0000-00-00T00:00:00+0900")))
    val diff = d.getStandardDays()
    if (-1 >= diff) s"${-1*diff}日前"
    else if (1 <= diff) s"${diff}日後"
    else {
        val diff = d.getStandardHours()
        if (-1 > diff) s"${-1*diff}時間前"
        else if (1 < diff) s"${diff}時間後"
        else {
            val diff = d.getStandardMinutes()
            if (0 >= diff) s"${-1*diff}分前"
            else s"${diff}分後"
        }
    }
}
<!DOCTYPE html>
<html lang="ja">
    <head>
        @head(params, totalCount,  host, thumbnailName)
    </head>
    <body>
        <div class="row">
            <div class="col-md-2 sidebar">
                @sidebar(params,List(
                    Map("type" -> "sort", "legend" -> "ソート",  "name" -> "s", "values" -> List(
                        List("dv","-viewCounter","視聴数が多い"),
                        List("al", "liveRecent","放送日が近い"))
                    ),
                    Map("type" -> "targets", "legend" -> "検索対象",  "name" -> "t[]", "values" -> List(
                        List("title","タイトル"),
                        List("description", "説明文"),
                        List("tags","タグ (部分一致)"),
                        List("tagsExact","タグ (完全一致)"))
                    ),
                    Map("type" -> "radio", "legend" -> "放送日時",  "name" -> "r", "values" -> List(
                        List(getDateFilterValue(0, Some(params("filters[startTime][gte]"))), "checked","デフォルト"),
                        List(getDateFilterValue(1, None), "","24時間以内"),
                        List(getDateFilterValue(7, None), "","1週間以内"))
                    )
                ))
            </div>
            <div class="col-md-10 col-md-offset-2 col-sm-offset-2 col-xs-offset-2 main">
                @form(routes.SearchController.live(), params, totalCount)
                <div class="result-box">
                @for(video <- result) {
                    <div class="col-md-4 col-sm-6">
                        <div class="thumbnail">
                            <p class="start-time"> @dateFormat(video.startTime) </p>
                            <div class="fix">
                                <img src="@video.thumbnailUrl.getOrElse("")" alt="thumbnail" class="img-responsive">
                                <div class="video-length"> @beforeFormat(video.startTime) </div>
                            </div>
                            <div class="caption">
                                <p class="video-info vcounter"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> @countFormat(video.viewCounter) </p>
                                <p class="video-info ccounter"><span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> @countFormat(video.commentCounter) </p>
                            </div>
                            <div class="video-title">
                                <p><a href="http://live.nicovideo.jp/watch/@video.contentId" title="@video.title.getOrElse("")">@video.title.getOrElse("")</a></p>
                            </div>
                        </div>
                    </div>
                }
                </div>
            </div>
        </div>
    </body>
</html>

